pkgbase = albert-bin
	pkgdesc = A sophisticated standalone keyboard launcher. Binary version.
	pkgver = 34.0.0
	pkgrel = 1
	url = https://albertlauncher.github.io/
	arch = x86_64
	license = custom
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = qt6-scxml
	depends = qt6-5compat
	depends = libx11
	depends = hicolor-icon-theme
	depends = qtkeychain-qt6
	depends = libqalculate
	depends = python
	depends = python-pip
	depends = python-cffi
	depends = python-cryptography
	depends = python-filelock
	depends = python-attrs
	depends = python-pycparser
	optdepends = qt6-wayland: Wayland support
	provides = albert
	conflicts = albert
	conflicts = albert-git
	options = !strip
	options = !debug
	source = https://download.opensuse.org/repositories/home:/manuelschneid3r/Arch/x86_64/albert-34.0.0-0-x86_64.pkg.tar.zst
	sha256sums = 1c25289fc77374439dc58dfc8b33207d25e1b764a2e5e87933d12b168dbe1516

pkgname = albert-bin
